http_interactions:
- request:
    method: get
    uri: https://api.labs.cognitive.microsoft.com/academic/v1.0/interpret?query=papers%20by%20jaime%27...&complete=1&count=10&offset=0&model=latest
    body:
      encoding: ''
      string: ''
    headers:
      Ocp-Apim-Subscription-Key: <<<microdemic_api_key>>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: "{\n\"query\":\"papers by jaime\", \n\"interpretations\":[\n{\n  \"logprob\"
        : -26.144,\n  \"parse\":\"<rule name=\\\"#GetPapers\\\">papers by <attr name=\\\"academic#AA.AuN\\\">jaime
        herrera acosta</attr></rule>\",\n  \"rules\":[ \n  { \n    \"name\":\"#GetPapers\",\n
        \   \"output\":  \n    { \n      \"type\":\"query\",\n      \"value\":\"Composite(AA.AuN=='jaime
        herrera acosta')\"\n    }\n  }\n  ]\n}, \n{\n  \"logprob\" : -26.249,\n  \"parse\":\"<rule
        name=\\\"#GetPapers\\\">papers by <attr name=\\\"academic#AA.AuN\\\">jaime
        sepulveda</attr></rule>\",\n  \"rules\":[ \n  { \n    \"name\":\"#GetPapers\",\n
        \   \"output\":  \n    { \n      \"type\":\"query\",\n      \"value\":\"Composite(AA.AuN=='jaime
        sepulveda')\"\n    }\n  }\n  ]\n}, \n{\n  \"logprob\" : -26.478,\n  \"parse\":\"<rule
   [...]
