http_interactions:
- request:
    method: get
    uri: https://api.labs.cognitive.microsoft.com/academic/v1.0/evaluate?expr=Y%3D%2719%27...&count=10&offset=0&attributes=Id%2CE&model=latest
    body:
      encoding: ''
      string: ''
    headers:
      Ocp-Apim-Subscription-Key: <<<microdemic_api_key>>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"expr":"Y=''19''...","entities":[{"logprob":-13.123,"Id":2144634347,"E":"{\"DN\":\"Molecular
        cloning : a laboratory manual\",\"IA\":{\"IndexLength\":280,\"InvertedIndex\":{\"Molecular\":[0,26],\"Cloning\":[1],\"has\":[2,19,120],\"served\":[3],\"as\":[4,130,212],\"the\":[5,31,40,47,64,98,111,118,131,146,159,233,245,275],\"foundation\":[6],\"of\":[7,53,92,97,114,163,232,235,247,253,264,270,278],\"technical\":[8],\"expertise\":[9],\"in\":[10,137],\"labs\":[11],\"worldwide\":[12],\"for\":[13,63,205,250],\"30\":[14],\"years.\":[15],\"No\":[16],\"other\":[17,84],\"manual\":[18],\"been\":[20,121,150],\"so\":[21,24],\"popular,\":[22],\"or\":[23],\"influential.\":[25],\"Cloning,\":[27],\"Fourth\":[28],\"Edition,\":[29],\"by\":[30,174,238],\"celebrated\":[32],\"founding\":[33],\"author\":[34],\"Joe\":[35],\"Sambrook\":[36],\"and\":[37,51,56,60,83,89,135,139,156,161,168,183,189,191,195,219,226,255,257,273],\"new\":[38,176,201],\"co-author,\":[39],\"distinguished\":[41],\"HHMI\":[42],\"investigator\":[43],\"Michael\":[44],\"Green,\":[45],\"preserves\":[46],\"highly\":[48],\"praised\":[49],\"detail\":[50],\"clarity\":[52],\"previous\":[54],\"editions\":[55],\"includes\":[57,203],\"specific\":[58],\"chapters\":[59,144,177],\"protocols\":[61],\"commissioned\":[62],\"book\":[65],\"from\":[66,145],\"expert\":[67],\"practitioners\":[68],\"at\":[69],\"Yale,\":[70],\"U\":[71],\"Mass,\":[72],\"Rockefeller\":[73],\"University,\":[74,82],\"Texas\":[75],\"Tech,\":[76],\"Cold\":[77],\"Spring\":[78],\"Harbor\":[79],\"Laboratory,\":[80],\"Washington\":[81],\"leading\":[85],\"institutions.\":[86],\"The\":[87,200],\"theoretical\":[88],\"historical\":[90],\"underpinnings\":[91],\"techniques\":[93,225],\"are\":[94,172],\"prominent\":[95],\"features\":[96],\"presentation\":[99],\"throughout,\":[100],\"information\":[101],\"that\":[102],\"does\":[103],\"much\":[104],\"to\":[105,124,152,158],\"help\":[106],\"trouble-shoot\":[107],\"experimental\":[108],\"problems.\":[109],\"For\":[110],\"fourth\":[112,276],\"edition\":[113,148,277],\"this\":[115],\"classic\":[116],\"work,\":[117],\"content\":[119,202],\"entirely\":[122],\"recast\":[123],\"include\":[125],\"nucleic-acid\":[126],\"based\":[127],\"methods\":[128,204],\"selected\":[129],\"most\":[132],\"widely\":[133],\"used\":[134],\"valuable\":[136],\"molecular\":[138],\"cellular\":[140,209],\"biology\":[141],\"laboratories.\":[142],\"Core\":[143],\"third\":[147],\"have\":[149],\"revised\":[151],\"feature\":[153],\"current\":[154],\"strategies\":[155],\"approaches\":[157],\"preparation\":[160],\"cloning\":[162],\"nucleic\":[164],\"acids,\":[165],\"gene\":[166],\"transfer,\":[167],\"expression\":[169,260],\"analysis.\":[170],\"They\":[171],\"augmented\":[173],\"12\":[175],\"which\":[178],\"show\":[179],\"how\":[180,192],\"DNA,\":[181],\"RNA,\":[182],\"proteins\":[184,256],\"should\":[185],\"be\":[186,198],\"prepared,\":[187],\"evaluated,\":[188],\"manipulated,\":[190],\"data\":[193,236],\"generation\":[194],\"analysis\":[196,221],\"can\":[197],\"handled.\":[199],\"studying\":[206],\"interactions\":[207],\"between\":[208],\"components,\":[210],\"such\":[211],\"microarrays,\":[213],\"next-generation\":[214],\"sequencing\":[215],\"technologies,\":[216],\"RNA\":[217],\"interference,\":[218],\"epigenetic\":[220],\"using\":[222],\"DNA\":[223],\"methylation\":[224],\"chromatin\":[227],\"immunoprecipitation.\":[228],\"To\":[229],\"make\":[230],\"sense\":[231],\"wealth\":[234],\"produced\":[237],\"these\":[239],\"techniques,\":[240],\"a\":[241],\"bioinformatics\":[242],\"chapter\":[243],\"describes\":[244],\"use\":[246],\"analytical\":[248],\"tools\":[249],\"comparing\":[251],\"sequences\":[252],\"genes\":[254],\"identifying\":[258],\"common\":[259],\"patterns\":[261],\"among\":[262],\"sets\":[263],\"genes.\":[265],\"Building\":[266],\"on\":[267],\"thirty\":[268],\"years\":[269],\"trust,\":[271],\"reliability,\":[272],\"authority,\":[274],\"Mol\":[279]}},\"S\":[{\"Ty\":1,\"U\":\"https://www.cabdirect.org/cabdirect/abstract/19901616061\"},{\"Ty\":1,\"U\":\"https://is.muni.cz/publication/372112?fakulta=1431\"},{\"Ty\":1,\"U\":\"http://ci.nii.ac.jp/ncid/BA07563129\"},{\"Ty\":1,\"U\":\"http://bases.bireme.br/cgi-bin/wxislind.exe/iah/online/?IsisScript=iah/iah.xis&base=LILACS&lang=p&nextAction=lnk&exprSearch=766637&indexSearch=ID\"},{\"Ty\":1,\"U\":\"http://profiles.wizfolio.com/CharlesBurks/publications/3492/40523/\"},{\"Ty\":1,\"U\":\"http://catalog.lib.kyushu-u.ac.jp/ja/recordID/1001479281\"},{\"Ty\":1,\"U\":\"http://hdl.handle.net/2324/1001479281\"}],\"I\":3,\"PR\":[2100837269,2138270253,2128635872,2134812217,2055043387,1594700207,2014669590,2158714788,1546783991,2106882534,2063450941,2028622989,2101108802,2019410656,569951484,1775749144,1576893770,1497061674,2024556021,2097706568,2100837269,2138270253,2128635872,2134812217,2055043387,1594700207,2014669590,2158714788,1546783991,2106882534,2063450941,2028622989,2101108802,2019410656,569951484,1775749144,1576893770,1497061674,2024556021,2097706568],\"ANF\":[{\"FN\":\"Joseph\",\"LN\":\"Sambrook\",\"S\":1},{\"FN\":\"E.
        F.\",\"LN\":\"Fritsch\",\"S\":2},{\"FN\":\"Tom\",\"LN\":\"Maniatis\",\"S\":3}],\"BV\":\"Molecular
        cloning: a laboratory manual.\",\"BT\":\"a\",\"PB\":\"Cold Spring Harbor Laboratory
        Press\"}"},{"logprob":-13.574,"Id":2596886333,"E":"{\"DN\":\"Diagnostic and
        Statistical Manual of Mental Disorders\",\"PR\":[2296042795,1847168837,2107031757,2114613490,2067495470,2050006242,2156220037,1484864026,2425131710,1601314759,2112778345,2245231029,1980309199,2114214919,2140606211,2159061031,1607171655,2118826874,2289785282,2504654338,2296042795,1847168837,2107031757,2114613490,2067495470,2050006242,2156220037,1484864026,2425131710,16013147[...]
